body {
  background-color: #f1f1f1;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  background: #fff;
}

textarea {
  padding: 0.5rem;
  resize: none;
  background-color: #333;
  width: 100%;
  border: 0;
  color: #fff;
  font-family: monospace;
  height: 100%;
  font-size: 24px;
}

textarea::focus {
  outline: 0;
}

#js::after {
  background-image: url("/assets/js.svg");
}

#css::after {
  background-image: url("/assets/css3.svg");
}

.editor {
  position: relative;
}

.editor::after {
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  content: "";
  width: 48px;
  height: 48px;
  z-index: 1;
}

#html::after {
  background-image: url("/assets/html5.svg");
}

.grid {
  display: grid;
  grid-template-rows: 49.8% 5px 49.8%;
  grid-template-columns: 49.8% 5px 49.8%;
  height: 100vh;
}

.vertical-gutter {
  cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  border: solid 1px #fff;
}

.horizontal-gutter {
  cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  border: solid 1px #fff;
}

/* .monaco-editor {
  padding-top: 24px;
} */
